# Make vim the default editor.
export EDITOR='vim';

# Increase Bash history size. Allow 32³ entries; the default is 500.
export HISTSIZE='32768';
export HISTFILESIZE="${HISTSIZE}";
# Omit duplicates and commands that begin with a space from history.
export HISTCONTROL='ignoreboth';

# Prefer US English and use UTF-8.
export LANG='en_US.UTF-8';
export LC_ALL='en_US.UTF-8';

# Highlight section titles in manual pages.
export LESS_TERMCAP_md="${yellow}";

# Don’t clear the screen after quitting a manual page.
export MANPAGER='less -X';

# Always enable colored `grep` output.
export GREP_OPTIONS='--color=auto';

if [ -e "usr/libexec/java_home" ]; then 
  export JAVA_HOME=`/usr/libexec/java_home -v 1.8`
fi

# export GIT_PROXY_COMMAND=corkscrewtunnel
#
#
#racer setting
#https://github.com/phildawes/racer
export RUST_SRC_PATH="$HOME/.rustup/toolchains/stable-x86_64-apple-darwin/lib/rustlib/src/rust/src/"

export AWS_SDK_LOAD_CONFIG=1
export GOPATH="$HOME/go"
export GOBIN="$GOPATH/bin"
export PATH="$GOPATH/bin:$PATH"
export PATH="$PATH:/Applications/Visual Studio Code.app/Contents/Resources/app/bin"
# export PATH="$PATH:/Users/dicek/istio-1.11.3/bin"

# latex
export PATH=/usr/texbin:$PATH

# prefer use gnubin
export PATH="/usr/local/opt/coreutils/libexec/gnubin:$PATH"
export PATH="/opt/cisco/anyconnect/bin:$PATH"

# minikube
MINIKUBE_ACTIVE_DOCKERD=minikube

# docker buildkit
DOCKER_BUILDKIT=1

[ -f ~/.fzf.zsh ] && source ~/.fzf.zsh
export FZF_DEFAULT_COMMAND='rg --files --hidden --glob "!.git"'
export FZF_DEFAULT_OPTS='--height 40% --reverse --border'
export PATH="$PATH:${KREW_ROOT:-$HOME/.krew}/bin"
